<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button"
          aria-controls="dropdown-basic">
    ... <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">

    <app-group-modal-add-user *ngIf="item.type === 0" [item]="item"></app-group-modal-add-user>
    <app-group-modal [item]="item"></app-group-modal>
    <li class="divider dropdown-divider"></li>
    <app-group-modal-delete *ngIf="item.type !== 0" [item]="item"></app-group-modal-delete>
  </ul>
</div>



