<div class="dropdown">
  <button>
    ...
  </button>
  <div class="dropdown-content">

    <a *ngIf="item.type === 0" (click)="addTemp.openModal()">
      Add User
      <i class="fas fa-user-plus"></i>
    </a>

    <a *ngIf="item.type !== 0" (click)="delTemp.openModal()">
      Delete
      <i class="fas fa-trash"></i>
    </a>
    <a (click)="renameTemp.openModal()">
      Rename
      <i class="fas fa-file-signature"></i>
    </a>

  </div>
</div>
<app-group-modal-delete #delTemp [item]="item"></app-group-modal-delete>
<app-group-modal-rename #renameTemp [item]="item"></app-group-modal-rename>
<app-group-modal-add-user #addTemp [item]="item"></app-group-modal-add-user>


