<!-- File Upload Component -->
<div class="dropzone_container">
  <ngx-dropzone #dropzone class="actual_dropzone" (filesAdded)="uploadFile($event)" [label]="''" [disabled]="isLoading || hasSucceeded || hasFailed"></ngx-dropzone>
  
  <i *ngIf="!isLoading && !hasSucceeded && !hasFailed" class="fas fa-3x fa-upload text-dark dropzone_fa"></i>
  <i *ngIf="isLoading" class="fas fa-3x fa-spin-custom fa-circle-notch text-info dropzone_fa"></i>
  <i *ngIf="hasSucceeded" class="fas fa-3x  blink_me fa-check text-success dropzone_fa"></i>
  <i *ngIf="hasFailed" class="fas fa-3x  blink_me fa-times text-danger dropzone_fa"></i>
</div>
