<!-- The Modal -->
<div *ngIf="show" id="myModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <div class="modal-header">
      <h2>{{title}}</h2>
    </div>
    <div class="modal-body">
      <a>{{body}}</a>
    </div>
    <div class="modal-footer">
      <button (click)="confirm()">Confirm</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
    <div class="modal-footer">
      <a *ngIf="errorMessage">{{errorMessage}}</a>
    </div>
  </div>
</div>

