<div id="button-bar">
  <button class="btn" id="backButton" (click)="clickBack()">
    <i class="fas fa-caret-left"></i>
    Back
  </button>
  <button class="btn" id="homeButton" (click)="clickReturnToHome()">
    <i class="fas fa-home"></i>
    Home
  </button>
  <app-add-item></app-add-item>
</div>

<table id="itemTable">
  <tr>
    <td class="icon" colspan="0">
    </td>
    <td style="font-weight: bold">Name</td>
    <td style="font-weight: bold">Type</td>
  </tr>
  <tr *ngFor="let item of (items | async)" (click)="clickPath(item)"
    [ngClass]="{'not-ready-yet':item.id.startsWith('temp')}">
    <td class=" icon"><i [ngClass]="{'fa-address-book':item.type === 0,
    'fa-calendar-alt':item.type === 1,
    'fa-folder':item.type === 2,
    'fa-file':item.type === 3,
    'fa-external-link-alt':item.type === 4,
    'far':item.type === 0 || item.type === 1 || item.type === 2 || item.type === 3,
    'fas':item.type === 4}"></i></td>
    <td>{{item.name}}</td>
    <td>
      <app-group-manager [item]="item" (click)="openMenu($event)"></app-group-manager>
    </td>
  </tr>
</table>
<app-file-upload (onSuccessEvent)="fetchNewItems()" [parentStructure]="path"></app-file-upload>