<h2>Registrer as a new user</h2>
<form [formGroup]="registrerForm">
  <label>Email</label>
  <input type="text" placeholder="email" formControlName="email">

  <label>Password</label>
  <input type="password" placeholder="password" formControlName="password">

  <label>Confirm password</label>
  <input (mouseleave)="checkPasswordMatch()" type="password" placeholder="password" formControlName="comfirmPassword">

  <div *ngIf="showPasswordNotMatchError" class="redText">
    Passwords do not match!
  </div>

  <input (click)="registrer()" type="submit" value="Registrer">
</form>