
<!-- The Modal -->
<div *ngIf="getBoolean()" id="myModal" class="modalOverlay">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <div class="modal-header">
      <h3>Change Item Name</h3>
    </div>
    <form [formGroup]="itemForm" (ngSubmit)="renameItem()">
    <div class="modal-body">
      <div *ngIf="loading" class="loader"></div>
      <div *ngIf="loading" class="overlay"></div>
        <h6>Current name</h6>
      <label>
        <input type="text" formControlName="currentName">
      </label>
        <h6>New name</h6>
      <label>
        <input type="text" formControlName="newName">
      </label>
      <button type="submit">Save</button>
    </div>
    <div class="modal-footer">
      <a *ngIf="errorMessage">{{errorMessage}}</a>
    </div>
    </form>
  </div>
</div>
