<!-- The Modal -->
<div *ngIf="getBoolean()" id="myModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <div class="modal-header">
      <h2>Add User</h2>
    </div>
    <form [formGroup]="addUserForm" (ngSubmit)="addUserToGroup(item)">
      <div class="modal-body">
        <h6>Email to add:</h6>
        <label>
          <input type="text" formControlName="email">
        </label>
        <button type="submit">Add</button>
      </div>
      <div class="modal-footer">
        <a></a>
      </div>
    </form>
  </div>
</div>
